# Compiled class file
*.class

# Log file
*.log

# Maven
log/
target/

# IntelliJ
.idea/
*.iml
*.iws
target/
out/

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.rar

# Mac
.DS_Store
